 /*=========
  基本默认值
  ==========*/
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
/* =========
  工具样式
  ========== */
.clearfix{
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/* =========
  自定义页面样式
  ========== */
body{
	background-color: #fff;
	font-family:"Arial","微软雅黑";
	min-width: 1100px;
}
a{
	color: #666;
	text-decoration: none;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
::before,::after{
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
table {
	border-collapse: collapse;
}
input, textarea,select {
	font-family:"Arial","微软雅黑";
	font-size: 12px;
	outline: none;
}
img{
	border: none;
	vertical-align: middle;
}
.donghua {
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}
.comWidth{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
